<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="user"></span>
        <span [routerLink]="['/myaccount']">User</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="form"></span>
        <span [routerLink]="['/write-blogs']">Write Blogs</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="form"></span>
        <span [routerLink]="['/myblogs']">My Blog</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="form"></span>
        <span [routerLink]="['/mycomments']">My Comment</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="form"></span>
        <span [routerLink]="['/dashboard']">Dashboard</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="user"></span>
        <span [routerLink]="['/login']" (click)="clearLocalStorage()">Logout</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <div class="inner-content">

      <!--      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">-->
<!--      <nz-descriptions nzTitle="User Info" nzBordered nzLayout="vertical" *ngFor="let comment of data">-->

<!--        <nz-descriptions-item>{{comment.text}}</nz-descriptions-item>-->
<!--        <nz-descriptions-item><button nz-button nzType="primary" (click)="deleteComment(comment.id)">Delete</button></nz-descriptions-item>-->
<!--      </nz-descriptions>-->
<!--        <nz-card *ngFor="let comment of data" style="width: 100%;">-->
          <nz-card nzTitle="{{comment.text}}"  *ngFor="let comment of getCurrentPageBlogs()" style="width: 100%;">
            <button nz-button nzType="primary" [routerLink]="['/blog', comment.blog_id]">Blog</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" (click)="deleteComment(comment.id)">Delete</button>
          </nz-card>
<!--        </nz-card>-->
<!--        <ng-template #extraTemplate>-->
<!--          <button nz-button nzType="primary" (click)="deleteComment(comment.id)">Delete</button>-->
<!--        </ng-template>-->
      </div>

      <!--    </form>-->
    </nz-content>
    <nz-footer><nz-pagination
      [(nzPageIndex)]="currentPage"
      [nzTotal]="data.length"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageClick($event)"
    ></nz-pagination></nz-footer>
  </nz-layout>
</nz-layout>

